.button{
    display: inline-block;
	-moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid $colour-light-3;
    background: transparent;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: $colour-dark-1;
    border-radius: 10px;
    outline: none!important;
    box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
    transition-duration: 0.15s;
    text-decoration: none!important;
    &:hover{
        cursor: pointer;
        background: $colour-light-3;
    }
    &:focus{
        box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
    }
}

.button--red{
    background: $colour-red;
    border-color: $colour-red;
    color: $colour-light-1!important;
    &:hover{
        background: darken($colour-red, 10%);
        border-color: darken($colour-red, 10%);
    }
    &:focus{
        box-shadow: 0 0 0 3px transparentize($colour-red, 0.7);
    }
}
.button--orange{
    background: $colour-orange;
    border-color: $colour-orange;
    color: $colour-light-1!important;
    &:hover{
        background: darken($colour-orange, 10%);
        border-color: darken($colour-orange, 10%);
    }
    &:focus{
        box-shadow: 0 0 0 3px transparentize($colour-orange, 0.7);
    }
}
.button--yellow{
    background: $colour-yellow;
    border-color: $colour-yellow;
    color: $colour-light-1!important;
    &:hover{
        background: darken($colour-yellow, 10%);
        border-color: darken($colour-yellow, 10%);
    }
    &:focus{
        box-shadow: 0 0 0 3px transparentize($colour-yellow, 0.7);
    }
}
.button--white{
    background: $colour-light-1;
    border-color: $colour-light-1;
    color: $colour-dark-1!important;
    &:hover{
        background: darken($colour-light-1, 10%);
        border-color: darken($colour-light-1, 10%);
    }
    &:focus{
        box-shadow: 0 0 0 3px transparentize($colour-light-1, 0.7);
    }
}
.button--transparent{
	color: inherit!important;
    border-color: transparent;
}

.button--fw{
    width: 100%;
	text-align: center;
}

.button-spinner{
    font-size: 14px;
    line-height: 14px;
}

.input-text{
    outline: none!important;
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;
    background: transparent;
    border: 2px solid $colour-light-3;
    box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
    border-radius: 10px;
	-moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    transition-duration: 0.15s;
    &::placeholder{
        color: $colour-light-3;
    }
    &:hover{
        border-color: $colour-dark-3;
    }
    &:focus{
        border-color: $colour-dark-3;
        box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
    }
	&:read-only{
		background: $colour-light-2;
		border: 2px solid $colour-light-2;
		box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
	}
}

.input-dropdown{
    display: block;
    outline: none!important;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 0 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid $colour-light-3;
    box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/assets/dropdown-dark.svg),linear-gradient(to bottom, $colour-light-1 0%, $colour-light-1 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 0.8em auto, 100%;
    transition-duration: 0.15s;
    &::placeholder{
        color: $colour-light-3;
    }
    &:hover{
        border-color: $colour-dark-3;
        cursor: pointer;
    }
    &:focus{
        border-color: $colour-dark-3;
        box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
    }
}

.input-control--error{
    border-color: $colour-red!important;
}


.time-input-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}


.dropdown-menu{
	background: $colour-light-1;
	border:2px solid $colour-light-2;
	border-radius: 10px;
	a, button{
		color: $colour-dark-1;
		outline: none!important;
		&:hover{
			cursor: pointer;
			color: $colour-dark-1;
			background: transparentize($colour-light-2, 0.5);
		}
	}
}
.dropdown-item i{
	margin-right: 8px;
}
