@media (prefers-color-scheme: dark) {
    body{
        background: $colour-dark-1;
        color: $colour-light-1;
    }

    .logo-light{
        display: block!important;
    }
    .logo-dark{
        display: none!important;
    }

    .structure__sidebar{
        background: $colour-dark-2;
    }
	.structure__sidebar-narrow{
        background: $colour-dark-2;
    }
    .sidebar-nav ul li a{
        color: $colour-light-1;
    }

    .top-bar{
        background: rgba(51, 51, 51, 0.8);
    }
    .top-bar__search{
        input{
            border-color:rgba(255, 255, 255, 0.15);
            color: $colour-light-1;
        }
    }
    .object-grid a{
        background: $colour-dark-2;
        color: $colour-light-1;
		border-color: $colour-dark-2;
		&:hover{
			border-color: $colour-dark-3;
		}
    }
    .object__progress-bar{
        background: $colour-dark-3;
    }
    .object-grid__placeholder{
        border-color: $colour-dark-3;
    }
    .log-grid a{
        color: $colour-light-1;
        box-shadow: 0 0 0 0px $colour-dark-2;
        &::after{
            background: $colour-dark-2;
        }
        &:hover{
            background: $colour-dark-2;
            box-shadow: 0 0 0 1px $colour-dark-2;
        }
    }

    .user-grid__item{
        color: $colour-light-1;
        box-shadow: 0 0 0 0px $colour-dark-2;
        &::after{
            background: $colour-dark-2;
        }
        &:hover{
            background: $colour-dark-2;
            box-shadow: 0 0 0 1px $colour-dark-2;
        }
    }

	.object-table__row{
		background: $colour-dark-2;
        color: $colour-light-1;
		border-color: $colour-dark-2;
		&:hover{
			border-color: $colour-dark-3;
		}
	}
	.object-table__row__controls{
		color:$colour-light-3;
		box-shadow: 0 0 0 0px transparentize($colour-dark-3, 0.7);
		&:hover{
			background: $colour-dark-3;
		}
		&:focus{
			background: $colour-dark-3;
	        box-shadow: 0 0 0 2px transparentize($colour-dark-3, 0.7);
	    }
	}
	.object-table-jobs__progress-bar{
        background: $colour-dark-3;
    }

    .button{
        color: $colour-light-1;
        &:hover{
            cursor: pointer;
            background: $colour-dark-3;
        }
        &:focus{
            box-shadow: 0 0 0 3px transparentize($colour-dark-3, 0.7);
        }
    }
    .button--red{
        background: $colour-red;
        border-color: $colour-red;
        color: white;
        &:hover{
            background: darken($colour-red, 10%);
            border-color: darken($colour-red, 10%);
        }
        &:focus{
            box-shadow: 0 0 0 3px transparentize($colour-red, 0.7);
        }
    }
    .button--orange{
        background: $colour-orange;
        border-color: $colour-orange;
        color: white;
        &:hover{
            background: darken($colour-orange, 10%);
            border-color: darken($colour-orange, 10%);
        }
        &:focus{
            box-shadow: 0 0 0 3px transparentize($colour-orange, 0.7);
        }
    }
    .button--yellow{
        background: $colour-yellow;
        border-color: $colour-yellow;
        color: white;
        &:hover{
            background: darken($colour-yellow, 10%);
            border-color: darken($colour-yellow, 10%);
        }
        &:focus{
            box-shadow: 0 0 0 3px transparentize($colour-yellow, 0.7);
        }
    }
    .button--white{
        background: $colour-light-1;
        border-color: $colour-light-1;
        color: $colour-dark-1;
        &:hover{
            background: darken($colour-light-1, 10%);
            border-color: darken($colour-light-1, 10%);
        }
        &:focus{
            box-shadow: 0 0 0 3px transparentize($colour-light-1, 0.7);
        }
    }

    .input-text{
        outline: none!important;
        color: $colour-light-1;
        border: 2px solid $colour-dark-3;
        &::placeholder{
            color: $colour-dark-3;
        }
        &:hover{
            border-color: $colour-light-3;
        }
        &:focus{
            border-color: $colour-light-3;
            box-shadow: 0 0 0 3px transparentize($colour-dark-3, 0.7);
        }
		&:read-only{
			background: $colour-dark-2;
			border: 2px solid $colour-dark-2;
			box-shadow: 0 0 0 0px transparentize($colour-dark-3, 0.7);
		}
    }
    .input-dropdown{
        color: $colour-light-1;
        background-image: url(/assets/dropdown-light.svg),linear-gradient(to bottom, $colour-dark-1 0%, $colour-dark-1 100%);
        border: 2px solid $colour-dark-3;
        &::placeholder{
            color: $colour-dark-3;
        }
        &:hover{
            border-color: $colour-light-3;
        }
        &:focus{
            border-color: $colour-light-3;
            box-shadow: 0 0 0 3px transparentize($colour-dark-3, 0.7);
        }
    }

    .sidebar-profile{
        color: $colour-light-1!important;
    }
    .sidebar-links li a{
        color: $colour-dark-3;
    }

    .modal-content{
        background: $colour-dark-1;
    }

    .swal-modal{
        background: $colour-dark-1;
        color: white;
    }
    .swal-title{
        color: white;
    }
    .swal-text{
        color: white;
    }
    .swal-icon--success:after, .swal-icon--success:before{
        background: $colour-dark-1;
    }
    .swal-icon--success__hide-corners{
        background: $colour-dark-1;
    }

    .swal-button--cancel{
        background: $colour-dark-1;
        border-color: $colour-dark-1;
        color: white;
    }
    .swal-button--cancel:not([disabled]):hover{
        background: $colour-dark-1;
        border-color: $colour-dark-1;
        color: white;
    }

    .time-input{
        input{
            color: $colour-light-1;
            border-color: $colour-dark-3;
            &:hover{
                border-color: $colour-light-3;
            }
            &:focus{
                border-color: $colour-light-3;
                box-shadow: 0 0 0 3px transparentize($colour-dark-3, 0.7);
            }
			&:read-only{
				background: $colour-dark-2;
				border: 2px solid $colour-dark-2;
				box-shadow: 0 0 0 0px transparentize($colour-dark-3, 0.7);
			}
        }
    }
    .time-input__controls{
        background: $colour-dark-2;
        button{
            color: $colour-light-1;
            background: $colour-dark-2;
            border-color: $colour-dark-2;
            &:hover{
                border-color: $colour-dark-3;
            }
            &:focus{
                border-color: $colour-dark-3;
                box-shadow: 0 0 0 3px transparentize($colour-dark-3, 0.7);
            }
            &:active{
                background: $colour-dark-3;
            }

        }
    }

	.mobile-nav{
		background: $colour-dark-1;
		border-top: 2px solid $colour-dark-2;
	}
	.mobile-nav__item{
		color: $colour-light-3!important;
		&:active{
	        color: $colour-light-2!important;
	    }
	}
	.mobile-top-bar{
		border-bottom: 2px solid $colour-dark-2;
	}

	.dropdown-menu{
		background: $colour-dark-1;
		border:2px solid $colour-dark-2;
		border-radius: 10px;
		a, button{
			color: $colour-light-1;
			&:hover{
				color: $colour-light-1;
				background: transparentize($colour-dark-2, 0.5);
			}
		}
	}
}
