.branding{
    height: 100px;
    width: 100%;
    display: block;
    position: relative;
}
.branding img{
    height: 100%;
    padding: 33px 30px;
}
.logo-light{
    display: none!important;
}
.sidebar-nav{
    position: relative;
    display: block;
    margin-top: 15px;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0;
        line-height: 0;
        li{
            font-size: 0;
            line-height: 0;
            a{
                display: block;
                font-size: 18px;
                line-height: 18px;
                color: $colour-dark-1;
                padding: 10px 30px;
                position: relative;
                text-decoration: none!important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                i{
                    opacity: 0.5;
                }
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 4px;
                    height: 20px;
                    background: $colour-red;
                    left: 0;
                    top: 10px;
                    opacity: 0;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &:hover i{
                    opacity: 1;
                }
            }
            .active{
                &::after{
                    opacity: 1;
                }
                i{
                    opacity: 1;
                    color: $colour-red;
                }
            }
        }
    }
}

.sidebar-profile{
    width: calc(100% - 60px);
    position: absolute;
    height: 50px;
    bottom: 60px;
    left: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 15px;
    align-items: center;
    text-decoration: none!important;
    color: $colour-dark-1!important;
    background: rgba(0, 0, 0, 0.0);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.0);
    border-radius: 100px;
    transition-duration: 0.15s;
    &:hover{
        background: rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
    }
}
.sidebar-profile__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $colour-light-3;
    background-size: cover!important;
    background-position: center!important;
}
.sidebar-profile__body{
    display: block;
    width: 100%;
    position: relative;
    min-width: 0;
}
.sidebar-profile__team{
    width: 100%;
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 900;
    opacity: 0.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}
.sidebar-profile__team-badge{
	background: $colour-red;
	display: inline-block;
	color:white;
	padding: 5px 5px 3px 5px;
	font-size: 11px;
    line-height: 11px;
	border-radius: 3px;
}
.sidebar-profile__name{
    display: block;
    font-size: 18px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-links{
    display: block;
    position: absolute;
    left: 0;
    bottom: 30px;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    font-size: 0;
    line-height: 0;
    li{
        font-size: 0;
        line-height: 0;
        display: inline-block;
        margin-right: 10px;
        a{
            font-size: 10px;
            line-height: 10px;
            color: $colour-light-3;
            display: block;
        }
    }
}

.structure__sidebar-narrow{
	.branding{
		height: 100px;
	    width: 100%;
	    display: block;
	    position: relative;

		img{
		    width: 55px;
			height: auto;
			padding: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.sidebar-nav{
		ul li a{
			padding: 10px 0;
			position: relative;
			text-align: center;
			i{
				font-size: 26px;
				line-height: 26px;
			}
			&::after{
				height: 26px;
			}
		}
	}
	.sidebar-profile{
		border-radius: 0;
		width: 100%;
		grid-template-columns: auto;
		left: 0;
	}
	.sidebar-profile__avatar{
		position: absolute;
		left: calc(50% - 25px);
	}
	.sidebar-links{
		width: 100%;
		display: block;
		padding: 0 15px;
		text-align: center;
		li{
			margin: 0;
			display: block;
			margin-top: 2px;
		}
	}
}
