.container{
	padding-left: 30px;
	padding-right: 30px;
}
.container--narrow{
	padding-left: 150px;
	padding-right: 150px;
}
.account-structure{
    display: grid;
    grid-template-columns: 700px auto;
    min-height: 100vh;
	height: 100%;
}

.account-structure__single-nav{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.account-structure__split-nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.account-structure__split-nav__button{
    display: block;
    padding: 15px 30px;
    color: $colour-red;
    text-decoration: none!important;
    font-size: 18px;
    line-height: 18px;
    &:hover{
        color: darken($colour-red, 20%);
    }
}

.account-structure__branding{
    height: 100px;
    width: auto;
    display: block;
    position: relative;
}
.account-structure__branding img{
    height: 100%;
    padding: 33px 30px;
}

.account-structure__background{
    background: whitesmoke;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    position: relative;
	height: 100vh;
	align-self: start;
	position: sticky;
	z-index: 1;
	display: block;
	top: 0;
    a{
        display: block;
        position: absolute;
        background: black;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 12px;
        bottom: 30px;
        right: 30px;
    }
}
.account-structure__main{
    section{
		padding-left: 15px;
		padding-right: 15px;
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.structure{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.structure__sidebar{
    background: $colour-light-2;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 130px;
    z-index: 200;
}
.structure__sidebar-narrow{
	background: $colour-light-2;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 130px;
    z-index: 200;
}
.structure__main{
    width: 100%;
    position: relative;
}

.top-bar{
    z-index: 100;
    height: 100px;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    .container{
        position: relative;
        height: 100%;
    }
}
.top-bar__grid{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 30px;
    align-items: center;
}

.top-bar__buttons{
    .button{
        &:first-of-type{
            margin-right: 5px;
        }
    }
}

.top-bar__search{
    position: relative;
    width: 100%;
    input{
        outline: none!important;
        width: 100%;
        height: 50px;
        position: relative;
        z-index: 1;
        background: white;
        border: 2px solid $colour-light-3;
        box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
        border-radius: 10px;
        padding-left: 46px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        transition-duration: 0.15s;
        &::placeholder{
            color: $colour-light-3;
        }
        &:hover{
            border-color: $colour-dark-3;
        }
        &:focus{
            border-color: $colour-dark-3;
            box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
        }
    }
    .fa-search{
        position: absolute;
        z-index: 2;
        color: $colour-light-3;
        font-size: 16px;
        line-height: 16px;
        top: calc(50% - 8px);
        left: 20px;
    }
	.fa-spinner{
		display: none;
		position: absolute;
        z-index: 2;
        color: $colour-orange;
        font-size: 16px;
        line-height: 16px;
		top: calc(50% - 8px);
		right: 20px;
	}
}
.top-bar__search--processing{
	.fa-spinner{
		display: block;
	}
}

.search-overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
	z-index: 90;
}
.search-overlay--active{
	display: block;
}
.search-results-container{
	width: calc(100% - 300px);
	display: none;
	position: fixed;
	top: 125px;
	right: 0;
	pointer-events: none;
	z-index: 110;
	padding-left: 15px;
	padding-right: 15px;
}
.search-results-container--active{
	display: block;
}
.search-results{
	display: block;
	position: relative;
	pointer-events: all;
	z-index: 110;
	width: 100%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-height: calc(100vh - 150px);
	overflow-y: scroll;
	background: white;
	border-radius: 10px;
	padding: 15px;
}
.search-results__grid{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 15px;
}
.search-results__grid-item{
	padding: 5px;
	border:2px solid $colour-light-2;
	border-radius: 10px;
	.object-table{
		margin-top: 5px;
	}
}
.search-results__client{
	display: block;
	padding: 15px;
	background: white;
	border-radius: 10px;
	color: $colour-dark-1!important;
	text-decoration: none!important;
	&:hover{
		background: $colour-light-2;
	}
	span{
		display: block;
		width: 100%;
		margin-bottom: 5px;
		font-size: 20px;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	ul{
		display: block;
		position: relative;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			position: relative;
			margin: 0;
			padding: 0;
			font-size: 14px;
			line-height: 14px;
			margin-right: 10px;
		}
	}
}
.search-results__jobs{
	margin-top: 10px;
	display: grid;
	position: relative;
	width: 100%;
	grid-template-columns: 100%;
	grid-row-gap: 5px;
	a{
		width: 100%;
	    height: 60px;
	    display: grid;
	    grid-template-columns: 1fr 1fr;
		align-items: center;
	    position: relative;
	    min-width: 0;
	    background: #f5f5f5;
	    border: 2px solid #f5f5f5;
	    border-radius: 10px;
	    text-decoration: none !important;
	    color: #333;
	    transition-duration: .15s;
		padding: 0 15px;
	}
}
.search-results__jobs__title{
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-results__jobs__type{
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

section{
    padding: 50px 0;
    &+section{
        padding-top: 0;
    }
}
.heading-link{
    display: inline-block;
    padding: 5px 0;
    color: $colour-red;
    text-decoration: none!important;
    font-size: 16px;
    line-height: 16px;
    &:hover{
        color: darken($colour-red, 20%);
    }
}
.heading-action{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 10px;
    h2{
        display: block;
        margin: 0;
    }
}

.heading--list-offset{
    padding: 0 20px;
}

.mobile-top-bar{
	display: none;
	padding: 20px 0;
	border-bottom: 2px solid $colour-light-2;
}
.mobile-top-bar__branding{
	display: block;
	img{
		display: block;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width : 1199px){
	.structure{
	    grid-template-columns: 250px 1fr;
	}
	.container--narrow{
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media (max-width : 991px){
	.structure{
	    grid-template-columns: 100px 1fr;
	}
	.structure__sidebar{
		display: none;
	}
	.structure__sidebar-narrow{
		display: block;
	}
	.account-structure__background{
		display: none;
	}
	.account-structure{
	    grid-template-columns: auto;
		min-height: auto;
	}
	.container--narrow{
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width : 767px){
	.structure{
	    grid-template-columns: auto;
	}
	.structure__sidebar-narrow{
		display: none;
	}
	.top-bar{
		display: none;
	}
	.mobile-top-bar{
		display: block;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
}
