body{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
}
h2{
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 700;
}
h3{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
}

.text--yellow{
    color: $colour-yellow;
}
.text--orange{
    color: $colour-orange;
}
.text--red{
    color: $colour-red;
}

label{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    span{
        opacity: 0.5;
        font-weight: 500;
        margin-left: 15px;
    }
}

.badge{
	background:whitesmoke;
	font-weight: lighter;
}
