$colour-red: #F34213;
$colour-orange: #F26419;
$colour-yellow: #F6AE2D;

$colour-light-1: #FFFFFF;
$colour-light-2: #F5F5F5;
$colour-light-3: #CCCCCC;

$colour-dark-1: #333333;
$colour-dark-2: #505050;
$colour-dark-3: #707070;

@import 'structure';
@import 'sidebar';
@import 'mobile-nav';
@import 'typography';
@import 'controls';

@import 'components/object-table/object-table';
@import 'components/object-grid';
@import 'components/log-grid';
@import 'components/user-grid';
@import 'components/timer-bar';
@import 'components/modal';
@import 'components/sweetalert';
@import 'components/toastr';
@import 'components/time-input';

body{
    background: $colour-light-1;
    color: $colour-dark-1;
}
@media (max-width : 767px){
    body{
        padding-bottom: 74px;
    }
}
::-webkit-scrollbar {
    display: none;
}

.body-no-scroll{
	overflow-y: hidden;
}

#top-bar-start{
    width: 140px;
}
#top-bar-stop{
    width: 140px;
    display: none;
}

//@import 'darkmode';
