.mobile-nav{
    display: none;
    height: auto;
    width: 100%;
    background: $colour-light-1;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-evenly;
    transition-duration: 0.15s;
	border-top: 2px solid $colour-light-2;
}
.mobile-nav--ios-scroll{
    padding-bottom: 50px;
}
.mobile-nav__item{
    display: block;
    height: 100%;
    width: auto;
    background: transparent;
    padding: 15px 0;
    color: $colour-dark-3!important;
    text-decoration: none!important;
    i{
        display: block;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 5px;
    }
    span{
        display: block;
        font-size: 8px;
        line-height: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
    }
    &:active{
        color: $colour-dark-2!important;
    }
}
.mobile-nav__item__avatar{
	height: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 50%;
    background: $colour-light-3;
    background-size: cover!important;
    background-position: center!important;
}
.mobile-nav__item.active{
	color: $colour-red!important;
}

@media (max-width : 767px){
    .mobile-nav{
        display: flex;
    }
}
