.log-grid{
    display: grid;
    position: relative;
    a{
        display: grid;
        width: 100%;
        height: 60px;
        position: relative;
        padding: 0 20px;
        background: transparent;
        border-radius: 10px;
        color: $colour-dark-1;
        text-decoration: none!important;
        grid-column-gap: 15px;
        grid-template-columns: 200px 150px 1fr auto;
        align-items: center;
        box-shadow: 0 0 0 0px $colour-light-2;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: calc(100% - 40px);
            height: 2px;
            left: 20px;
            bottom: -1px;
            background: $colour-light-2;
        }
        &:hover{
            background: $colour-light-2;
            box-shadow: 0 0 0 1px $colour-light-2;
        }
        &:last-of-type::after{
            display: none;
        }
    }
}

.log-grid--users a{
    grid-template-columns: 150px 1fr auto;
}

.log-title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 18px;
}
.log-client{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    opacity: 0.6;
}
.log-description{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    opacity: 0.6;
}
.log-time{
    display: block;
    font-size: 18px;
    line-height: 18px;
}

.log-user{
    position: relative;
    display: block;
    padding-left: 40px;
    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        opacity: 0.6;
    }
}
.log-user__avatar{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $colour-red;
    background-size: cover!important;
    background-position: center!important;
    left: 0;
    top: -3px;
}

.logs-header{
	text-align: left;
	margin-top: 30px;
	padding: 0 20px;
	opacity: 0.4;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.6rem;
	line-height: 0.6rem;
	font-weight: 900;
}

@media (max-width : 767px){
	.log-client{
		display: none;
	}
	.log-description{
		display: none;
	}
	.log-time{
		text-align: right;
	}
	.log-grid{
	    a{
			grid-template-columns: 150px auto;
		}
	}
}
