.modal-content{
    border: none;
    border-radius: 10px;
}
.modal-footer{
    border: none;
}
.modal-header{
    border-bottom: none!important;
    .close{
        text-shadow: none!important;
        color: inherit!important;
    }
}