.object-grid{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    a{
        width: 100%;
        display: block;
        position: relative;
        min-width: 0;
        padding: 20px;
        background: $colour-light-2;
		border:2px solid $colour-light-2;
        border-radius: 10px;
        text-decoration: none!important;
        color: $colour-dark-1;
		transition-duration: 0.15s;
		&:hover{
			border-color: $colour-light-3;
		}
    }
}
.object-title{
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.object-attr{
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:first-of-type{
        margin-top: 10px;
    }
    &:last-of-type{
        margin-bottom: 0;
    }
}
.object__progress-bar{
    width: calc(100% - 20px);
    height: 5px;
    background: $colour-light-3;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    div{
        height: 100%;
        background: $colour-dark-3;
        border-radius: 10px;
    }
}
.object__progress-bar--yellow div{
    background: $colour-yellow;
}
.object__progress-bar--orange div{
    background: $colour-orange;
}
.object__progress-bar--red div{
    background: $colour-red;
}
.object--progress-bar{
    padding-bottom: 25px!important;
}

.object-grid--cols-2{
    grid-template-columns: repeat(2, 1fr);
}
.object-grid--cols-3{
    grid-template-columns: repeat(3, 1fr);
}
.object-grid--cols-4{
    grid-template-columns: repeat(4, 1fr);
}

.object-grid__placeholder{
    width: 100%;
    height: 100%;
    min-height: 50px;
    background: transparent;
    border-radius: 10px;
    border: 2px dotted $colour-light-3;
}

@media (max-width : 1199px){
	.object-grid--cols-4{
	    grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width : 767px){
	.object-grid{
	    grid-column-gap: 0px;
	    grid-row-gap: 15px;
	}
	.object-grid--cols-4, .object-grid--cols-3, .object-grid--cols-2{
	    grid-template-columns: repeat(1, 1fr);
	}
}
