.swal-modal{
    border-radius: 10px;
}
.swal-text{text-align: center!important;}
.swal-button {
  padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid $colour-red;
    background: $colour-red;
    color: white;
    font-size: 18px;
    line-height: 18px;
    box-shadow: none!important;
}
.swal-button:not([disabled]):hover{
    background: darken($colour-red, 10%);
    border-color: darken($colour-red, 10%);
    color: white;
}
.swal-button:not([disabled]):focus{
    background: darken($colour-red, 10%);
    border-color: darken($colour-red, 10%);
    color: white;
    box-shadow: 0 0 0 3px transparentize($colour-red, 0.7);
}

.swal-button--cancel{
    background: white;
    border-color: #F0F0F0;
    color: #1d1d1b;
}
.swal-button--cancel:not([disabled]):hover{
    background: #F0F0F0;
    border-color: #F0F0F0;
    color: #1d1d1b;
}

.swal-button--danger{
    background: #ea1d1d;
    border-color: #ea1d1d;
    color: white;
}
.swal-button--danger:not([disabled]):hover{
    background: #be1515;
    border-color: #be1515;
    color: white;
}