.time-input{
    display: grid;
    grid-template-columns: 1fr 50px 2fr 50px;
    grid-column-gap: 5px;
    input{
        outline: none!important;
        font-weight: 200;
        display: block;
        font-size: 50px;
        line-height: 50px;
        padding: 10px 20px;
        width: 100%;
        border: none;
        background: none;
        position: relative;
        border: 2px solid $colour-light-3;
        border-radius: 10px;
        transition-duration: 0.15s;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        &::placeholder{
            color: $colour-light-3;
        }
        &:hover{
            border-color: $colour-dark-3;
        }
        &:focus{
            border-color: $colour-dark-3;
            box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
        }
		&:read-only{
			background: $colour-light-2;
			border: 2px solid $colour-light-2;
			box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
		}
    }
}
.time-input__controls{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    height: 100%;
    background: $colour-light-2;
    border-radius: 10px;
    z-index: 1;
    button{
        width: 100%;
        border: none;
        background: $colour-light-2;
        border: 2px solid $colour-light-2;
        border-radius: 10px;
        box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
        outline: none!important;
        transition-duration: 0.15s;

        &:hover{
            border-color: $colour-light-3;
            cursor: pointer;
        }
        &:focus{
            border-color: $colour-light-3;
            box-shadow: 0 0 0 3px transparentize($colour-light-3, 0.7);
            z-index: 10;
        }
        &:active{
            background: $colour-light-3;
        }
    }
}

.time-input--readonly{
	grid-template-columns: 1fr 2fr;
}
