.timer-bar--active{
    .structure__main{
        padding-bottom: 110px;
    }
    .timer-bar{
        transform: translate(0,0);
    }
}
.timer-bar{
    width: 100%;
    padding-left: 300px;
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 100;
    transform: translate(0,100%);
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}
.timer-box{
    padding: 30px;
    background: $colour-red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 30px;
    align-items: center;
    div{
        color: $colour-light-1;
        font-size: 30px;
        line-height: 30px;
        display: block;
        span{
            margin-left: 20px;
            font-weight: 900;
        }
    }
}

@media (max-width : 1199px){
	.timer-bar{
	    padding-left: 250px;
	}
}
@media (max-width : 991px){
	.timer-bar{
	    padding-left: 100px;
	}
	.timer-box div{
		font-size: 25px;
        line-height: 25px;
		span{
			margin: 0;
			margin-top: 5px;
			display: block;
		}
	}
}
