#toast-container>div{
	border-radius: 10px;
	box-shadow: none;
	border: none;
	&:hover{
		box-shadow: none;
	}
}
#toast-container>.toast-success{
	background-image: url(/assets/toast-success.png)!important;
}
#toast-container>.toast-info{
	background-image: url(/assets/toast-info.png)!important;
}
#toast-container>.toast-warning{
	background-image: url(/assets/toast-warn.png)!important;
}
#toast-container>.toast-error{
	background-image: url(/assets/toast-error.png)!important;
}
