.user-grid{
    display: grid;
    position: relative;
}

.user-grid__item{
    display: grid;
    width: 100%;
    height: 76px;
    position: relative;
    padding: 0 20px;
    background: transparent;
    border-radius: 10px;
    color: $colour-dark-1;
    text-decoration: none!important;
    grid-column-gap: 15px;
    grid-template-columns: 40px 200px auto 300px;
    align-items: center;
    box-shadow: 0 0 0 0px $colour-light-2;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: calc(100% - 40px);
        height: 2px;
        left: 20px;
        bottom: -1px;
        background: $colour-light-2;
    }
    &:hover{
        background: $colour-light-2;
        box-shadow: 0 0 0 1px $colour-light-2;
    }
    &:last-of-type::after{
        display: none;
    }
}
.user-grid__item--invite{
	grid-template-columns: 40px auto 140px;
}
.user-grid__item--current{
	grid-template-columns: 40px 200px auto 140px;
}

.user-grid__item__avatar{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $colour-dark-1;
    background-size: cover!important;
    background-position: center!important;
}
.user-grid__item__name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    line-height: 18px;
}
.user-grid__item__email{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 16px;
}

.user-grid__item__controls{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 5px;
}

@media (max-width : 767px){
	.user-grid__item{
		grid-template-columns: 40px auto 300px;
	}
	.user-grid__item__name{
		display: none;
	}
	.user-grid__item--current{
		grid-template-columns: 40px auto 140px;
	}
	.user-grid__item--invite{
		grid-template-columns: 40px auto 140px;
	}
}
