.object-table__row__body--clients{
	grid-template-columns: auto 1fr;
	grid-column-gap: 30px;
}
.object-table-clients__title{
	width: 100%;
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.object-table-clients__jobs{
	width: 100%;
    display: block;
	font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
