.object-table__row__body--jobs{
	grid-template-columns: 1fr 1fr 2fr;
}
.object-table__row__body--jobs--search{
	grid-template-columns: 1fr 2fr;
}
.object-table-jobs__title{
	width: 100%;
    display: block;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.object-table-jobs__client{
	width: 100%;
    display: block;
	font-size: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.object-table-jobs__time{
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-column-gap: 10px;
}
.object-table-jobs__time--progress-bar{
	grid-template-columns: 2fr 1fr;
}
.object-table-jobs__time__label{
	text-align: right;
}


.object-table-jobs__progress-bar{
	align-self: center;
    width: calc(100% - 20px);
    height: 5px;
    background: $colour-light-3;
    border-radius: 10px;
    div{
        height: 100%;
        background: $colour-dark-3;
        border-radius: 10px;
    }
}
.object-table-jobs__progress-bar--yellow div{
    background: $colour-yellow;
}
.object-table-jobs__progress-bar--orange div{
    background: $colour-orange;
}
.object-table-jobs__progress-bar--red div{
    background: $colour-red;
}
.object--progress-bar{
    padding-bottom: 25px!important;
}

@media (max-width : 1199px){
	.object-table-jobs__time--progress-bar{
		grid-template-columns: 3fr 2fr;
	}
}
@media (max-width : 767px){
	.object-table__row__body--jobs{
		grid-template-columns: 1fr auto;
	}
	.object-table-jobs__time--progress-bar{
		grid-template-columns: 100%;
	}
	.object-table-jobs__progress-bar{
		display: none;
	}
	.object-table-jobs__client{
		display: none;
	}
}
