.object-table{
	display: grid;
	width: 100%;
	position: relative;
	grid-template-columns: 100%;
	grid-row-gap: 10px;
}

.object-table__row{
	width: 100%;
	height: 60px;
	display: grid;
	grid-template-columns: 100%;
	position: relative;
	min-width: 0;
	background: $colour-light-2;
	border:2px solid $colour-light-2;
	border-radius: 10px;
	text-decoration: none!important;
	color: $colour-dark-1;
	transition-duration: 0.15s;
	&:hover{
		border-color: $colour-light-3;
	}
}
.object-table__row-placeholder{
	background: $colour-light-2;
	border:2px solid $colour-light-2;
	border-radius: 10px;
	text-align: center;
	padding: 12px;
}
.object-table__row--controls{
	grid-template-columns: auto 48px;
}
.object-table__row__controls{
	background: transparent;
	border: 2px solid transparent;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	color:$colour-dark-3;
	outline: none!important;
	box-shadow: 0 0 0 0px transparentize($colour-light-3, 0.7);
	transition-duration: 0.15s;
	&:hover{
		cursor: pointer;
		background: $colour-light-3;
	}
	&:focus{
		background: $colour-light-3;
        box-shadow: 0 0 0 2px transparentize($colour-light-3, 0.7);
    }
}

.object-table__row__body{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-column-gap: 10px;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.object-table__row__body--link{
	text-decoration: none!important;
	color: inherit;
	&:hover{
		cursor: pointer;
		color: inherit;
	}
}

@import 'jobs';
@import 'clients';
@import 'users';
