.object-table__row__body--users{
	grid-template-columns: 40px auto 1fr;
	grid-column-gap: 30px;
}
.object-table__row__body--usersInvite{
	grid-template-columns: 40px auto;
	grid-column-gap: 30px;
}
.object-table-users__avatar{
	display: block;
	height: 40px;
	width: 40px;
	background: $colour-light-3;
	border-radius: 50%;
	background-size: cover !important;
    background-position: center !important;
}
.object-table-users__name{
	width: 100%;
	display: block;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.object-table-users__email{
	width: 100%;
	display: block;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
